/* Navigation/header section */

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 16px;
    
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

.nav-links {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 8px;
}

ul {
    list-style-type: none;
    display: flex;
}

/* Section */

.container {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.info {
    max-width: 200px;
    flex: 1;
}

.info:last-child {
    margin-right: 20px;
}

.fake-image {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    
}

.column {
    margin-left: auto;
    margin-right: auto;
}

.container-collumn {
    margin-left: auto;
    margin-right: auto;
}