* {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    margin-left: 188px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    margin-right: 8px;
    font-size: 18px;
}

.links {
    display: flex;
    margin-right: 164px;
    margin-top: 8px;
}





